html,
body,
#root,
.app {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  border: 1px solid white;
}

#login #loginContainer {
  height: 50px;
  width: 350px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#login input {
  width: 75%;
  height: 100%;
  padding: 0 10px;
  outline: none;
  font-size: 20px;
}

#login #loginBtn {
  width: 25%;
  height: 100%;
  font-size: 20px;
}

#usernameError {
  max-width: 300px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin: 0 auto 30px auto;
}
